<div class="col-md-6">
<h1>Listagem de Usuários</h1>
<button class="btn btn-primary" (click)="novo()">Adicionar Novo </button>
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>NOME</th>
    <th>EMAIL</th>
    <th>OPÇÔES</th>
  </thead>
  <tbody>
    <tr *ngFor=" let usuario of usuarios">
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.email}}</td>
      <td>
        <button class="btn btn-success" (click)="editar(usuario)">Editar</button>
        <button class="btn btn-danger" (click)="excluir(usuario)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
